#aboutme {
    text-align: left;
    padding: 3%;
}

#aboutme h2 {
    font-size: 36pt;
    text-align: center;
}

.aboutsect {
    margin: 2%;
}

.aboutsect h4 {
    font-size: 25pt;
    font-weight: 700;
}