.menu {
  width: 100%;
  height: auto;
  margin: 2%;
  display: flex;
  align-items: baseline;
  margin-left: auto;
  justify-content: left;
}

.menuicon {
  fill: grey;
  height: 50px;
  width: 50px;
  margin: auto 3% auto 3%;
}

.menuicon:hover {
  fill: rgb(61, 133, 241);
  display: inline;
}

.icontitle {
  display: none;
  width: auto;
  text-decoration: none;
}

.menuicon:hover + .icontitle {
  display: block;
  color: rgb(61, 133, 241);
}

.menubutton {
  margin: 1%;
  width: 75px;
  height: 75px;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 1080px) {
    .menu {
        justify-content: center;
    }
}
