.buttonimg {
  height: 90%;
  width: auto; 
  margin-right: 5%;
  margin-top: auto;
  margin-bottom: auto;
}
.buttontxt {
  font-size: 16pt;
  color: darkblue;
}
.buttonbody {
  display: flex;
  height: 100px;
  width: 90%;
  margin: auto;
  justify-content: center;
  border: 2px solid green;
  background-color: aquamarine;
}