@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

.App {
  text-align: center;
  background-color: rgb(201, 236, 252);
  height: auto;
  padding-bottom: 5%;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 500;
}

#introlinks {
    width: 55%;
    float: right; 
    height: 50vh;
}

#myphotos {
    width: 30%;
    float: left;
    margin-left: 10%;
    height: 50vh;
}

#homepagesect {
    margin: 5%;
    height: 45vh;
}

#me {
    height: auto;
    width: 70%;
    min-width: 300px;
    margin: 5%;
    border: 10px solid white;
}

@media (max-width: 1080px) {
    #myphotos {
        float: none;
        margin: auto;
        width: 80%;
        height: auto;
    }
    #me {
        max-width: 300px;
        min-width: 100px;
    }
    #introlinks {
        float: none;
        margin: auto;
        width: 90%;
        height: auto;
    }
    #homepagesect {
        height: auto;
    }
}
