.projectitem {
  margin: 3%;
  text-align: left;
}

span {
  font-size: 1.5rem;
  font-weight: bolder;
}

p {
  font-size: 1.3rem;
}

i {
  color: grey;
}
.projectinfo {
  margin: 3%;
}


.video {
  grid-area: vid;
}

.projecttitle {
  grid-area: title;
  font-size: 48pt;
}

.projectslogan {
  grid-area: slogan;
}

.projectinfo {
  grid-area: info;
}

.projectimgs {
  grid-area: pics;
  margin: 2%;
  margin-top: 20px;
}

.mainimg {
    width: 100%;
    height: auto;
}

.projimg {
    height: 200px;
    width: 200px;
    transition: height 0.5s;
    overflow: hidden;
    margin: 1%;
}

.projimg:hover {
    height: 210px;
    width: 210px;
    border: 4px solid rgb(201, 236, 252);
}

.projectlink {
    height: 40px;
    width: 40px;
    fill: rgb(0, 0, 0);
    margin-left: 10px;
}

.projectlink:hover {
    fill: rgb(61, 133, 241);
    margin-left: 10px;
}

@media (max-width: 900px) {
  .projectitem {
    display: grid;
    grid-template: "title" auto "slogan" auto "vid" auto "info" auto "pics" auto / 100%;
  }

  .projectimgs {
    display: flex;
    height: auto;
    justify-content: left;
    flex-wrap: wrap;
  }
}

@media (min-width: 901px) {
  .projectitem {
    display: grid;
    grid-template: "title title" auto "slogan slogan" 10% "vid info" auto "pics info" auto / 60% auto;
  }

  .projectimgs {
    display: flex;
    height: auto;
    justify-content: left;
  }
}
