.projectitem {
  margin: 3%;
  text-align: left;
  padding: 3%;
}

span {
  font-size: 1.5rem;
  font-weight: bolder;
}

p {
  font-size: 1.3rem;
}

i {
  color: grey;
}
.projectinfo {
  margin: 3%;
}

@media (max-width: 600px) {
  .projectitem {
    display: grid;
    grid-template: 'title title' auto 'slogan slogan' auto 'vid info' 100% / 40% 60%;
  }

  .video {
    grid-area: vid;
  }

  .projecttitle {
    grid-area: title;
  }

  .projectslogan {
    grid-area: slogan;
  }

  .projectinfo {
    grid-area: info;
  }
}


@media (min-width: 601px) {
  .projectitem {
    display: grid;
    grid-template: 'title title' auto 'slogan slogan' auto 'video info' auto / 40% auto;
  }

  .video {
    grid-area: video;
  }

  .projecttitle {
    grid-area: title;
  }

  .projectslogan {
    grid-area: slogan;
  }

  .projectinfo {
    grid-area: info;
  }
}