table {
  margin: auto;

}
tr td, tr th {
  border: 1px solid lightgray;
  padding: 10px;
  font-size: 16pt;
}

tr th {
    font-weight: bolder;
}

table tr:nth-child(2n) {
  background-color: rgb(198, 245, 252);
}